# Build directories
build/
CMakeFiles/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# CMake
CMakeCache.txt
cmake_install.cmake
Makefile

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Logs
*.log

# Misc
.DS_Store
Thumbs.db